{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="row">

        <div class="col-xs-6">
            <table class="table table-striped">
                <tr>
                    <th>{% trans "Product" %}</th>
                    <th>{% trans "Current release" %}</th>
                    <th>{% trans "Next release" %}</th>
                    <th><button class="btn btn-success btn-xs pull-right" type="button" data-modal-url="{% url 'product_create' %}"><span class="glyphicon glyphicon-plus-sign"></span></button></th>
                </tr>
                {% for product in products %}
                    {% with current_release=product.current_release next_release=product.next_release %}
                        <tr>
                            <td><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></td>
                            <td>
                                 {% if current_release %}
                                    {{ current_release.version_number }}
                                    ({{ current_release.target_date }})
                                {% endif %}
                            </td>
                            <td>
                                {% if next_release %}
                                    {{ next_release.version_number }}
                                    ({{ next_release.target_date }})
                                {% endif %}
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs pull-right"  data-modal-url="{% url 'product_update' pk=product.pk %}"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </table>
        </div>

        <div class="col-xs-6">
            <table class="table table-striped">
                <tr>
                    <th>{% trans "Package" %}</th>
                    <th>{% trans "Current version" %}</th>
                    <th>{% trans "Next version" %}</th>
                    <th><button class="btn btn-success btn-xs pull-right" type="button" data-modal-url="{% url 'package_create' %}"><span class="glyphicon glyphicon-plus-sign"></span></button></th>
                </tr>
                {% for package in packages %}
                    {% with current_version=package.current_version next_version=product.next_version %}
                        <tr>
                            <td><a href="{{ package.get_absolute_url }}">{{ package.name }}</a></td>
                            <td>
                                 {% if current_version %}
                                    {{ current_version.version_number }}
                                    ({{ current_version.target_date }})
                                {% endif %}
                            </td>
                            <td>
                                 {% if next_version %}
                                    {{ next_version.version_number }}
                                    ({{ next_version.target_date }})
                                {% endif %}
                            </td>
                            <td>
                                <button type="button" class="btn btn-primary btn-xs pull-right"  data-modal-url="{% url 'package_update' pk=package.pk %}"><span class="glyphicon glyphicon-pencil"></span></button>
                            </td>
                        </tr>
                    {% endwith %}
                {% endfor %}
            </table>
        </div>

    </div>


{% endblock content %}