{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <h1>{{ product.name }}</h1>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <th>{% trans "Version" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Status" %}</th>
                {% for release in product.releases.all %}
                    <tr data-ajax-url="{{ release.get_ajax_url }}" data-ajax-target="#release-details">
                        <td>
                            {% if release == current_release %}
                                <b>{{ release.version_number }}</b>
                            {% else %}
                                {{ release.version_number }}
                            {% endif %}
                        </td>
                        <td>{{ release.target_date }}</td>
                        <td>
                            <span class="label
                                {% if release.is_obsolete %}
                                    label-default
                                {% elif release.is_proposed %}
                                    label-warning
                                {% elif release.is_in_progress %}
                                    label-info
                                {% elif release.is_released %}
                                    label-success
                                {% endif %}">
                                {{ release.get_status_display }}
                            </span>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row" id="release-details">
        {% if release %}
            {% include 'relman/includes/product__release.html' %}
        {% endif %}
    </div>

{% endblock content %}