{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <h1>{{ product.name }}</h1>

    <div class="row">
        <div class="col-xs-12">
            <table class="table table-striped table-hover">
                <th>{% trans "Version" %}</th>
                <th>{% trans "Date" %}</th>
                <th>{% trans "Status" %}</th>
                <th></th>
                {% for product_release in product.releases.all %}
                    <tr data-ajax-url="{{ product_release.get_ajax_url }}" data-ajax-target="#release-details" {% if product_release = release %}class="warning"{% endif %}>
                        <td>
                            {{ product_release.version_number }}
                        </td>
                        <td>{{ product_release.target_date }}</td>
                        <td>
                            <span class="label
                                {% if product_release.is_obsolete %}
                                    label-default
                                {% elif product_release.is_proposed %}
                                    label-warning
                                {% elif product_release.is_in_progress %}
                                    label-info
                                {% elif product_release.is_released %}
                                    label-success
                                {% endif %}">
                                {{ product_release.get_status_display }}
                            </span>
                        </td>
                        <td>
                            <a class="badge pull-right" data-comments-url="{{ product_release.get_comments_url }}">
                                <span class="glyphicon glyphicon-comment"></span>
                                {{ product_release.comments.count }}
                            </a>
                        </td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
    <div class="row" id="release-details">
        {% if release %}
            {% include 'relman/includes/product__release.html' %}
        {% endif %}
    </div>

{% endblock content %}