{% extends 'base.html' %}
{% load i18n %}

{% block content %}

    <div class="panel-group" id="products">

        {% for product in object_list %}
            {% with current_release=product.current_release next_release=product.next_release %}
                <div class="panel panel-default">

                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-4">
                                <h5><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h5>
                            </div>
                            <div class="col-xs-4">
                                 {% if current_release %}
                                    <b>{% trans "Current release" %}:</b>
                                    {{ current_release.version_number }}
                                    ({{ current_release.target_date }})
                                {% endif %}
                            </div>
                            <div class="col-xs-4">
                                {% if next_release %}
                                    <b>{% trans "Next release" %}:</b>
                                    {{ next_release.version_number }}
                                    ({{ next_release.target_date }})
                                {% endif %}
                            </div>
                        </div>
                    </div>

                </div>
            {% endwith %}
        {% endfor %}

    </div>

{% endblock content %}