{% load i18n %}

<div class="col-xs-12">
    <h3>{{ version.version_number }}</h2>
</div>

<div class="col-xs-4">
    <p>{% trans "Change log" %}:</p>
    <ul>
        {% for change in version.changes.all %}
        <li>{{ change.description }}</li>
        {% endfor %}
    </ul>
    <p>Notes:</p>
    {{ version.notes|linebreaks }}
</div>

<div class="col-xs-8">
    <table class="table table-striped table-hover">
        <th>{% trans "Dependant release" %}</th>
        <th>{% trans "Version" %}</th>
        <th>{% trans "Date" %}</th>
        <th>{% trans "Status" %}</th>
        <th>{% trans "Issues" %}</th>
        {% for dependant in version.dependants.all %}
            <tr>
                <td>{{ dependant.product }}</td>
                <td>{{ dependant.version_number }}</td>
                <td>{{ dependant.target_date }}</td>
                <td>
                    <span class="label
                        {% if dependant.is_obsolete %}
                            label-default
                        {% elif dependant.is_proposed %}
                            label-warning
                        {% elif dependant.is_in_progress %}
                            label-info
                        {% elif dependant.is_released %}
                            label-success
                        {% endif %}">
                        {{ dependant.get_status_display }}
                    </span>
                </td>
                <td>
                    <ul>
                        {% if dependant.target_date < version.target_date %}<li>{% trans "Target release pre-dates version release" %}</li>{% endif %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>
</div>
